<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. You will find help here. I change the file. And I change the file again.
</p>
